<script setup lang="ts">

const {locale, locales} = useI18n()
const switchLocalePath = useSwitchLocalePath()

const availableLocales = computed((): Array<any> => {
    return locales.value.filter((l: any) => l.value !== locale.value)
})
</script>

<template>
    <div class="language">
        <NuxtLink
            v-for="locale in availableLocales"
            :key="locale.code"
            :to="switchLocalePath(locale.code)">
            {{ locale.name  }}
        </NuxtLink>
    </div>
</template>